.login-form {
  max-width: 400px;
  padding: 20px 20px;
  margin: 20px auto;
  box-sizing: border-box;

  box-shadow: 1px 1px 15px #d6d4d4, -0.5em 0 2em #e6e1e1;

  h2 {
    display: block;
    background-color: lightgreen;
    border-radius: 4px;
    padding: 10px 10px;
    text-align: center;
  }

  span {
    display: block;
    padding: 10px 0;
  }

  input {
    width: 100%;
    border: 1px solid #b1adad;
    height: 2em;
  }

  .btn {
    margin: 30px 0;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    font-size: 1em;
    width: 100px;
    height: 30px;
    border-radius: 4px;
  }
}
